body {
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: normal;
  background: #f2f2f2;
}

main {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}



.message {
  max-width: 250px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
}



form {
  text-align: center;
  display: flex;
  width: 100%;
  top: 50%;
  right: 50%;
  margin: auto;
}



.button {
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:11px;
	border:2px solid #bafaff;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Courier New;
	font-size:18px;
	font-weight:bold;
	padding:6px 22px;
	text-decoration:none;
	text-shadow:0px 0px 50px #ffffff;
}
.button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}


input {
  width: 100%;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  padding: 5px;
}

.myButton {
	position: absolute;
	top: 5%;
	right: 5%;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:11px;
	border:2px solid #bafaff;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Courier New;
	font-size:18px;
	font-weight:bold;
	padding:13px 57px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
