<header>
    <nav>
        <a href="/">Home</a>
        <ul>
            <li><a href="/authors">Prototype Journals</a></li>
            <li><a href="/authors/new">Prototype Add Journals</a></li>
            <li><a href="/books">Journal</a></li>
            <li><a href="/books/new">Add Journal</a></li>
        </ul>
    </nav>

</header>